@import '_mixins';

/* CUSTOM FONTS */

@include font-face(
  'Star Jedi',
  './public/fonts/Starjedi',
  null,
  normal,
  woff ttf
);

/* CUSTOM CLASSES AND IDs */

.error-icon {
  width: 30%;
}

.error-message {
  font-size: 1.25rem !important;
}

.error-message,
.loading-message {
  text-align: center !important;
}

.loading-icon {
  width: 50%;
}

.loading-message {
  font-size: 1.5rem !important;
}

#entire-page-wrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

#main-container {
  width: 100vw;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-header {
  margin: 0.1em 0.1em 0 0.1em;
  font-family: 'Star Jedi';
  font-size: 5em !important;
  text-align: center;
  color: #fbe41f;
}

#main-subheader {
  margin: 10px 1em 10px 1em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.character-card {
  min-width: 100px !important;
  max-width: 250px !important;
  flex-basis: 22%;
}

#film-container {
  max-width: 900px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5vh auto;
  padding: 10px;
}

#film-header {
  width: 100vw;
  max-width: 900px;
  height: 5vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 5;
  padding: 5px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  font-family: 'Star Jedi';
  font-size: 4vh;
}

#film-header-go-back {
  color: darkblue;
  cursor: pointer;
}

/* ANIMATION */
.loading-icon {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* SEMANTIC UI OVERWRITES */

.ui.modal {
  > .actions {
    text-align: center;
  }
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: 'Arial Narrow', Helvetica, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.ui.card,
.ui.cards > .card {
  background: transparent;
  margin: 0;
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  background: transparent;
  transform: none;
}

.ui.card > .image,
.ui.cards > .card > .image {
  background: transparent;
}

/* CONDITIONAL DISPLAY FOR SCREEN SIZE VARIATION */

@media screen and (max-width: 550px) and (min-aspect-ratio: 5/8) {
  .character-card {
    flex-basis: 35%;
  }
  #main-header {
    font-size: 10vw !important;
  }

  #main-subheader {
    font-size: 4vw !important;
  }

  .ui.card > .content > .header:not(.ui) {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .ui.card > .content > .header:not(.ui) {
    font-size: 1.5em;
  }

  #main-header {
    font-size: 7em !important;
  }
}

@media screen and (max-width: 768px) and (max-aspect-ratio: 5/8) {
  .character-card {
    flex-basis: 45%;
    font-size: 3.5vw !important;
  }

  #main-container {
    height: 90vh;
  }

  #main-header {
    font-size: 12.5vw !important;
  }
}
