@font-face {
  font-family: "Star Jedi";
  src: url("fonts/Starjedi.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Star Jedi Hollow";
  src: url("fonts/Starjhol.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: black;
  color: white;
}

.error-icon {
  width: 30%;
}

.loading-icon {
  width: 50%;
}

.error-message,
.loading-message {
  text-align: center !important;
}

.error-message {
  font-size: 1.25rem !important;
}

.loading-message {
  font-size: 1.5rem !important;
}

.loading-icon {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ui.modal > .actions {
  text-align: center;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  font-family: "Arial Narrow", Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  color: white;
}

.ui.card,
.ui.cards > .card {
  background: transparent;
  margin: 0;
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  background: transparent;
  transform: none;
}

.ui.card > .image,
.ui.cards > .card > .image {
  background: transparent;
}

#character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

#main-container {
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-header {
  text-align: center;
  margin: 0.1em 0.1em 0 0.1em;
  font-family: "Star Jedi";
  font-size: 5em !important;
  color: #fbe41f;
}

#main-subheader {
  text-align: center;
  margin: 10px 1em 10px 1em;
  font-family: Helvetica, Arial, sans-serif;
}

.character-card {
  min-width: 100px !important;
  max-width: 250px !important;
  flex-basis: 22%;
}

@media screen and (max-width: 550px) and (min-aspect-ratio: 5/8) {
  .character-card {
    flex-basis: 35%;
  }
  #main-header {
    font-size: 10vw !important;
  }

  #main-subheader {
    font-size: 4vw !important;
  }

  .ui.card > .content > .header:not(.ui) {
    font-size: 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .ui.card > .content > .header:not(.ui) {
    font-size: 1.5em;
  }

  #main-header {
    font-size: 7em !important;
  }
}

@media screen and (max-width: 768px) and (max-aspect-ratio: 5/8) {
  .character-card {
    flex-basis: 45%;
    font-size: 3.5vw !important;
  }

  #main-container {
    height: 90vh;
  }

  #main-header {
    font-size: 12.5vw !important;
  }
}
